<section>
  <div class="row">
    <div class="col-sm-12">
      <div class="taco_single">
        <h2>Update <%= @taco.name %></h2>
        <h3><%= @taco.restaurant.name %></h3>

        <%= form_for @taco do |f| %>

        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        
        <div>
          <%= f.label :price %>
          <%= f.text_field :price %>
        </div>
        <div>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
        <div>
          <h2>Tortilla: <%= f.select :ingredient_tortilla_id, IngredientTortilla.all.map{ |tortilla| [tortilla.name, tortilla.id] } %></h2>
        </div>
        <div>
          <h2>Meat: <%= f.select :ingredient_filling_id, IngredientFilling.all.map{ |filling| [filling.meat, filling.id] } %></h2>
        </div>
        <div>
          <h2>Salsa: <%= f.select :ingredient_salsa_id,  IngredientSalsa.all.map{ |salsa| [salsa.name, salsa.id] } %></h2>
        </div>
        <div>
          <h2>Garnishes:</h2>
          <%= f.select :ingredient_garnish_ids, IngredientGarnish.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
        </div>
        <div>
          <%= f.label :photo %>
          <%= f.file_field :photo %>
        </div>
        <div>
        <h2>Taqueria:</h2>
          <%= f.fields_for :restaurant do |ff| %>
          <%= ff.label :name %>
          <%= ff.text_field :name %>

          <%= ff.label :phone %>
          <%= ff.text_field :phone %>
          <%= ff.label :address %>
          <%= ff.text_area :address %>
          <% end %>
          
        </div>
        <%= f.submit "Update Taco" %>
        <% end %>
      </div>
    </div>
  </div>
</section>