<!DOCTYPE html>
<html>
<head>
  <title>Taquistador | Find the best tacos!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Connecting to the google maps api using api key-->
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZYqqJCc4RxkAgrIQ4oNJDhGgTW2rSSXY&sensor=true"></script>-->
  <!--<script type="text/javascript">console.log(google);

</script>-->
<!--Google fonts-->
<link href='//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=UnifrakturMaguntia' rel='stylesheet' type='text/css'>
</head>
<body class="<%= body_class %>">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '473156366191505',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <div id="taco-map" class="taco-map-container"></div>
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <a class="navbar-brand" href="/"><%= image_tag("taquistador_logo_distressed_tiny@2x.png", :alt => "logo", :width => "150", :class => "img-responsive") %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a id="refreshMap" href="#">Reset Location</a></li>
                <% if user_signed_in? && %>
                <li><a href="/tacos/new">Add Taco</a></li>
                <% end %>
                <li><%= form_tag '/search', method: :post do %>
                  <div><%= text_field_tag :search, nil, placeholder: "Search" %>
                    <%= submit_tag "Search" %></div>
                    <% end %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign Up", "/users/sign_up" if current_user == nil %></li>
                    <li><%= link_to "Sign In", "/users/sign_in" if current_user == nil %></li>
                    <li><%= link_to "Sign Out", "/users/sign_out", method: :delete if current_user %></li>
                    <% #if user_signed_in? && current_user.admin %>
                    <!-- <li><a href="/suppliers/new">Add Taqueria</a></li> -->
                    <% #end %>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>
      <div class="container-fluid">
        <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
        </div>
        <% end %>
        
        <%= yield %>
      </div>
    </body>
    </html>
